title= title
link(rel='stylesheet', href='/stylesheets/styles.css')
//- make sure href has forward slashes behind it /... because this tells the browser it is an absolute path, where if no slash 'stylesheets/..' the browser will see it as a relative path