extends layout

block content
    div#root!= initialMarkup
    //- server side rendered 'initialMarkup' inserts side by side with client side rendered ReactDOM on the #root div

    script(type="text/javascript").
        window.__PRELOADED_STATE__ = !{initialState}
