/* Custom Variables */
@import './bootstrap/variables';       // custom bootstrap variables  -  if you want our custom _variables to override the darkly theme variables

/* Theme Wrapper */
@import '~bootswatch/dist/darkly/variables';                   // theme variables          -  define bootswatch theme's variables first before our bootstrap config which will set all the colors, palette, and look for the theme

/* Uikit Variables */
//@import '~uikit/src/scss/variables-theme';                    // uikit's variables if you want to use it with bootstrap but keep uikit's theme variables

/* Core Imports */
@import 'bootstrap/bootstrap';                                // bootstrap  -  imports our bootstrap custom configuration
//@import 'bootstrap-material-design/bootstrap-material-design';  // bmd        -  uses bootstrap-material-design instead of bootstrap, but this version already imports bootstrap in its config file, so it is just an enhanced version of normal bootstrap
//@import 'uikit/uikit';                                        // uikit      -  separate from bootstrap and bmd and is just an additional library to use with numerous components like parallax, sticky, countdown, sortable, spinner, overlay, thumbnav, scroll, and others. If you want to import the theme variables for it place this in front of bootstrap-material-design import:  @import '~uikit/src/scss/variables-theme';

/* Theme Wrapper */
@import '~bootswatch/dist/darkly/bootswatch';                  // theme functionality      -  overrides the bootstrap functionality that the theme (darkly) needs to function as intended (these include overwritten functions and such)


// Pages Styles
@import '../pages/home/Home';

// Components/Layout Styles
@import 'footer';


body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

h1 {
    text-align: center;
}

pre {
    color: white;
}

.contestItem {
    margin: 1em;
    border: 1px solid #ccc;

    .category-name {
        border-bottom: 1px solid #ccc;
        padding: .25em .5em;
        font-weight: bold;
        background-color: #3a3a3a;
    }

    .contest-name {
        padding: .5em;
    }
}

.link {
    cursor: pointer;
}

.home-link {
    margin-top: 1em;
    color: #25357a;
    display: inline-block;
}


